@font-face {
  font-family: SuperMario256;
  src: url('../fonts/SuperMario256.ttf');
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.start-screen {
  width: 1280px;
  height: 530px;
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/start-screen.png');
  position: relative;
}

.game-screen {
  width: 1280px;
  height: 480px;
  border: 1px solid black;
  border-top: none;
  background: url('../images/bg.png');
  margin: 0 auto;
}

.score-wrapper {
  padding-left: 40px;
  width: 1240px;
  margin: 0 auto;
  height: 50px;
  border: 1px solid black;
  border-bottom: none;
  line-height: 50px;
  font-size: 20px;
  background-color: #add1f3;
  font-family: SuperMario256;
  color: #ffffff;
}

.life-count {
  background: url('../images/mario-head.png') left center no-repeat;
  width: 100px;
  float: left;
  padding-left: 40px;
}

.coin-score {
  background: url('../images/coin.png') left center no-repeat;
  width: 150px;
  float: left;
  padding-left: 40px;
}

.level-num {
  width: 150px;
  float: left;
}

.total-score {
  float: left;
}

.start-btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: url('../images/start-btn.png');
  position: absolute;
  bottom: 100px;
  left: 530px;
  border: 2px solid black;
}

.back-btn {
  width: 200px;
  height: 50px;
  background: url('../images/back-btn.png');
  color: #ffffff;
  border: 2px solid black;
  margin: 10px;
}

.btn-wrapper {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
}
